$accent: #F09D51;
$dark: #313638;
$medium: #EDEDED;
$light: #F9F7F3;
$text-dark: #08090A;
$text-light: #DEE2E5;

$large-margin: 16px;
$medium-margin: 8px;
$small-margin: 4px;

$favicon-size: 16px;

form.single-button {
  display: inline-block;
  margin: 0;
}

.collapser {
  display: none;
}

.collapse-header {
  display: flex;
  align-items: center;
  background-color: $light;

  * {
    display: inline-block;
    margin: 0;
  }
}

.collapse-icon {
  margin-left: auto;
  color: $accent;
}

.collapse-icon.bottom {
  display: flex;
  justify-content: center;
  margin-bottom: -$large-margin;
}

.collapsable-content {
  display: none;
}

.collapse-button {
  margin: 0;
  color: $accent;
  margin-left: auto;
  cursor: pointer;
}

.collapse-icon:before {
  content: "▼";
}

.expandable {
  max-height: 90px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.collapser:checked {

  ~ .collapsable-content {
    display: block;
  }

  ~ .expandable {
      max-height: initial;
  }

  ~ .collapse-button {}

  ~ .collapse-icon:before {
    content: "▲";
  }
}

.post-header {
    position: relative;

    h3 {
        padding-right: $favicon-size + $large-margin;
    }
}

.favicon {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    width: $favicon-size;
    height: $favicon-size;
}
