{% extends "base.html" %}

{% block content %}
<h1>Feed</h1>
<div id="modal-container"></div>
<p><a href="/feed/search">Find new plugin</a></p>
<ul>
    {% for subscription in subscriptions %}
    <li>
        <h3> <a href="/plugins/view/{{ subscription.plugin_version.id }}">
                {{ subscription.plugin_version.plugin.name }} v{{ subscription.plugin_version.major_version }}.{{ subscription.plugin_version.minor_version }}
            </a>
        </h3>
        <p>
            {{ subscription.plugin_version.plugin.description }}
        </p>
        <form action="/feed/unsubscribe/{{ subscription.plugin_version.id }}" method="post">
            {% csrf_token %}
            <button type="submit">Unsubscribe</button>
        </form>
        <button id="configure-{{ subscription.id }}">Configure</button>
    </li>
    {% endfor %}
</ul>
<h2>Updates</h2>
{% for old_version, new_version in updates %}
<li>
    <h3>
        {{ old_version.plugin.name }}
    </h3>
    <p>
        {{ old_version.plugin.description }}
    </p>
    <p>
        <a href="/plugins/view/{{ old_version.id }}">
            v{{ old_version.major_version }}.{{ old_version.minor_version }}
        </a>
        →
        <a href="/plugins/view/{{ new_version.id }}">
            v{{ new_version.major_version }}.{{ new_version.minor_version }}
        </a>
    </p>
    <form action="/feed/update/{{ new_version.id }}" method="post">
        {% csrf_token %}
        <button type="submit">Update</button>
    </form>
</li>
{% endfor %}
<ul id="main-feed">
</ul>
<button id="prev-page">Previous</button>
<button id="next-page">Next</button>

{% load staticfiles %}
<script src={% static 'static_jquery/js/jquery.js' %}></script>
<script src="/static/feed/posts.js"></script>
<script src="/static/feed/pagination.js"></script>
<script src="/static/feed/configuration.js"></script>
<script>
    var subscriptions = []
</script>
{% for subscription in subscriptions %}
<script>
    var subscription = {};

    /* beautify preserve:start */
    {% if subscription.config != "" %}
        subscription.config = {{ subscription.config|safe }};
    {% endif %}
    /* beautify preserve:end */

    (function() {
        /* beautify preserve:start */
        {{ subscription.plugin_version.code|safe }}
        /* beautify preserve:end */

        if (typeof validateConfig !== "undefined") {
            subscription.configValid = validateConfig(subscription.config);
        } else {
            subscription.configValid = !!subscription.config;
        }

        if (typeof getConfigModal !== "undefined") {
            subscription.getConfigModal = getConfigModal;
        }

        if (typeof fetchPosts != "undefined") {
            subscription.fetchPosts = fetchPosts;
        }
    })();

    subscription.id = "{{ subscription.id }}";
    subscriptions.push(subscription);
</script>
{% endfor %}
<script>
    postGenerator = PostGenerator();

    postGenerator.setSubscriptions(subscriptions);

    var ul = $("#main-feed")[0];
    var nextBtn = $("#next-page")[0];
    var prevBtn = $("#prev-page")[0];
    setupPagination(postGenerator, nextBtn, prevBtn, function(posts) {
        while (ul.firstChild) {
            ul.removeChild(ul.firstChild);
        }

        posts.forEach(function(post) {
            ul.appendChild(post);
        });
    });

    var modalContainer = $("#modal-container")[0];

    function setModal(modal) {
        while (modalContainer.firstChild) {
            modalContainer.removeChild(modalContainer.firstChild);
        }

        if (modal) {
            modalContainer.appendChild(modal);
        }
    }

    var configHandlers = [];
    subscriptions.forEach(function(subscription) {
        if (subscription.getConfigModal) {
            var configBtn = $("#configure-" + subscription.id)[0];
            var handler = ConfigHandler(subscription, setModal, "{{ csrf_token }}");
            handler.setConfigBtn(configBtn);
            configHandlers.push(handler);
        }
    });

    for (var i = 0; i < configHandlers.length - 1; ++i) {
        (function() {
            var j = i;
            configHandlers[j].setOnSave(function() {
                for (var k = j; k < configHandlers.length; ++k) {
                    var handler = configHandlers[i + 1];
                    if (!handler.configured()) {
                        handler.showModal();
                    }
                }
                configHandlers[j].setOnSave();
            });
        });
    }

    configHandlers.forEach(function(handler) {
        if (!handler.configured()) {
            handler.showModal();
        }
    });
</script>
{% endblock %}