{% extends "base.html" %}

{% block content %}
<h1>Feed</h1>
<div id="modal-container"></div>
<p><a href="/feed/search">Find new plugin</a></p>
<ul>
    {% for plugin_version in plugin_versions %}
    <li>
        <h3>
            <a href="/plugins/view/{{ plugin_version.id }}">
                {{ plugin_version.plugin.name }} v{{ plugin_version.major_version }}.{{ plugin_version.minor_version }}
            </a>
        </h3>
        <p>
            {{ plugin_version.plugin.description }}
        </p>
        <form action="/feed/unsubscribe/{{ plugin_version.id }}" method="post">
            {% csrf_token %}
            <button type="submit">Unsubscribe</button>
        </form>
        <button id="configure-{{ plugin_version.id }}">Configure</button>
    </li>
    {% endfor %}
</ul>
<h2>Updates</h2>
{% for old_version, new_version in updates %}
<li>
    <h3>
        {{ old_version.plugin.name }}
    </h3>
    <p>
        {{ old_version.plugin.description }}
    </p>
    <p>
        <a href="/plugins/view/{{ old_version.id }}">
            v{{ old_version.major_version }}.{{ old_version.minor_version }}
        </a>
        →
        <a href="/plugins/view/{{ new_version.id }}">
            v{{ new_version.major_version }}.{{ new_version.minor_version }}
        </a>
    </p>
    <form action="/feed/update/{{ new_version.id }}" method="post">
        {% csrf_token %}
        <button type="submit">Update</button>
    </form>
</li>
{% endfor %}
<ul id="main-feed">
</ul>
<button id="prev-page">Previous</button>
<button id="next-page">Next</button>
<script src="/static/feed/posts.js"></script>
<script>
    var pluginFunctions = {}
</script>
{% for plugin_version in plugin_versions %}
<script>
    (function() {
        /* beautify preserve:start */
        {{ plugin_version.code|safe }}
        /* beautify preserve:end */
        var functions = {};
        if (typeof fetchPosts != 'undefined') {
            functions["fetchPosts"] = fetchPosts;
        }

        if (typeof getConfigModal !== 'undefined') {
            functions["getConfigModal"] = getConfigModal;
        }


        pluginFunctions["{{ plugin_version.id }}"] = functions;
    })();
</script>
{% endfor %}
<script>
    // TODO: Move to static file?
    var posts = [];
    var currentPage = -1;
    var postsPerPage = 25;
    var morePosts = true;
    var ul = document.getElementById("main-feed");
    var prev = document.getElementById("prev-page");
    var next = document.getElementById("next-page");
    prev.disabled = true;

    var postFetchers = [];
    /* beautify preserve:start */
    {% for plugin_version in plugin_versions %}
    /* beautify preserve:end */
    if (pluginFunctions["{{ plugin_version.id }}"]) {
        postFetchers.push(pluginFunctions["{{ plugin_version.id }}"]["fetchPosts"]);
    }
    /* beautify preserve:start */
    {% endfor %}
    /* beautify preserve:end */
    setPostFetchers(postFetchers);

    function getMorePosts() {
        newPosts = getPostsHtml(postsPerPage);
        if (!newPosts || newPosts.length === 0) {
            morePosts = false;
        }
        posts = posts.concat(newPosts);
    }

    function refreshPage() {
        while (ul.firstChild) {
            ul.removeChild(ul.firstChild);
        }

        for (var i = 0; i < postsPerPage; ++i) {
            postIndex = currentPage * postsPerPage + i;
            if (postIndex >= posts.length) {
                return;
            }
            ul.appendChild(posts[postIndex]);
        }
    }

    function prevPage() {
        next.disabled = false;
        currentPage -= 1;
        if (currentPage == 0) {
            prev.disabled = true;
        }
        refreshPage();
    }

    function nextPage() {
        currentPage += 1;
        if (currentPage > 0) {
            prev.disabled = false;
        }
        while ((currentPage + 1) * postsPerPage >= posts.length) {
            if (morePosts) {
                getMorePosts();
            } else {
                next.disabled = true;
                break;
            }
        }
        refreshPage();
    }

    nextPage();

    prev.onclick = prevPage;
    next.onclick = nextPage;

    /* beautify preserve:start */
    {% for subscription in subscriptions %}
    /* beautify preserve:end */
    var configBtn = document.getElementById("configure-{{ subscription.plugin_version.id }}");

    // TODO: Store config locally, pass it to the corresponding post fetcher
    // TODO: Check if every plugin is configured, show the configuration modal if it is not
    configBtn.onclick = function() {
        var id = "{{ subscription.plugin_version.id }}";
        var config
        if ("{{ subscription.config }}" !== "") {
            config = JSON.parse("{{ subscription.config }}");
        }
        var modal = document.getElementById("modal-container");

        var saveConfig = function(config) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/feed/configure/{{ subscription.id }}", true);
            xhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhttp.send(JSON.stringify(config));
            while (modal.firstChild) {
                modal.removeChild(modal.firstChild);
            }
        }

        while (modal.firstChild) {
            modal.removeChild(modal.firstChild);
        }

        if (pluginFunctions[id]) {
            var configModal = pluginFunctions[id]["getConfigModal"](config, saveConfig);
            modal.appendChild(configModal);
        }
    }

    /* beautify preserve:start */
    {% endfor %}
    /* beautify preserve:end */
</script>
{% endblock %}