{% extends "feed/base.html" %}

{% block content %}
<header class="with-nav">
    <h2>Plugins</h2>
    <p><a href="/plugins">Plugin Creator</a></p>
    <p><a href="/feed/search">Plugin Search</a></p>
</header>
<ul>
    {% for subscription in subscriptions %}
    <li>
        <header class="with-nav">
            <h3>
                <a href="/plugins/view/{{ subscription.plugin_version.id }}">
                    {{ subscription.plugin_version.plugin.name }} v{{ subscription.plugin_version.major_version }}.{{ subscription.plugin_version.minor_version }}
                </a>
            </h3>
            <form class="single-button" action="/feed/unsubscribe/{{ subscription.plugin_version.id }}" method="post">
                {% csrf_token %}
                <button type="submit">Unsubscribe</button>
            </form>
            <button id="configure-{{ subscription.id }}">Configure</button>
        </header>
        <p>
            {{ subscription.plugin_version.plugin.description }}
        </p>
    </li>
    {% endfor %}
</ul>
{% if updates|length > 0 %}
<h2>Updates</h2>
<ul>
    {% for old_version, new_version in updates %}
    <li class="with-nav">
        <h3>
            {{ old_version.plugin.name }}
        </h3>
        <p>
            <a href="/plugins/view/{{ old_version.id }}">
                v{{ old_version.major_version }}.{{ old_version.minor_version }}
            </a>
            →
            <a href="/plugins/view/{{ new_version.id }}">
                v{{ new_version.major_version }}.{{ new_version.minor_version }}
            </a>
        </p>
        <form class="single-button" action="/feed/update/{{ new_version.id }}" method="post">
            {% csrf_token %}
            <button type="submit">Update</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endif %}
<h2>Feed</h2>
<ul id="main-feed">
    <li id="posts-loading-placeholder">
        <div class="loader"></div>
    </li>
    <li id="posts-empty-placeholder" class="start-hidden">Nothing to see here! Setup a <a href="/feed/search">new plugin</a> to get more posts</li>
</ul>
{% if divide_into_pages %}
<button id="prev-page">Previous</button>
<button id="next-page">Next</button>
{% endif %}

{% load static %}
<script src={% static "feed/configuration.js" %}></script>
<script src={% static "feed/posts.js" %}></script>
<script src={% static "modal.js" %}></script>
<script>
    var subscriptions = []

</script>
{% for subscription in subscriptions %}
<script>
    var subscription = {};

    /* beautify preserve:start */
    {% if subscription.config != "" %}
        subscription.config = {{ subscription.config|safe }};
    {% endif %}
    /* beautify preserve:end */

    (function() {
        /* beautify preserve:start */
        {{ subscription.plugin_version.code|safe }}
        /* beautify preserve:end */

        if (typeof getConfigModal === "undefined") {
            subscription.configValid = true;
        } else if (typeof validateConfig !== "undefined") {
            subscription.configValid = validateConfig(subscription.config);
        } else {
            subscription.configValid = !!subscription.config;
        }

        if (typeof getConfigModal !== "undefined") {
            subscription.getConfigModal = getConfigModal;
        }

        if (typeof fetchPosts != "undefined") {
            subscription.fetchPosts = fetchPosts;
        }
    })();

    subscription.id = "{{ subscription.id }}";
    subscription.pluginName = "{{ subscription.plugin_version.plugin.name }}";
    subscriptions.push(subscription);

</script>
{% endfor %}
<script>
    var POSTS_PER_PAGE = 5;
    var POST_BUFFER = 200;

    postGenerator = PostGenerator();

    postGenerator.setSubscriptions(subscriptions.filter(function(subscription) {
        return subscription.configValid;
    }));

    var loadingPosts = false;

    function getMorePosts(onComplete) {
        if (loadingPosts) {
            return;
        }

        loadingPosts = true;
        postGenerator.getPostsHtml(POSTS_PER_PAGE, function(posts) {
            posts.forEach(function(post) {
                $("#posts-loading-placeholder").first().before(post);
            });

            if (posts.length > 0) {
                $("#posts-empty-placeholder").remove();
            }

            if (!postGenerator.hasMorePosts()) {
                $("#posts-empty-placeholder").show();
                $("#posts-loading-placeholder").hide();
            }

            loadingPosts = false;
            onComplete();
        });
    }

    var documentNode = $(document);
    var windowNode = $(window);

    function getPostsIfRequired() {
        if (!loadingPosts && postGenerator.hasMorePosts() && documentNode.height() - documentNode.scrollTop() <= windowNode.height() + POST_BUFFER) {
            getMorePosts(getPostsIfRequired);
        }
    }

    getPostsIfRequired();

    windowNode.scroll(function() {
        getPostsIfRequired();
    });

    function onConfig() {

    }

    subscriptions.forEach(function(subscription) {
        $("#configure-" + subscription.id).click(function() {
            configure(subscription, showModal, "{{ csrf_token }}", onConfig);
        });
    });

</script>
{% endblock %}
