{% extends "feed/base.html" %}

{% block content %}
<header class="with-nav">
    <h2>Search</h2>
    <form action="/feed/search" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Search</button>
    </form>
</header>
<ul class="card-list">
    {% if results|length > 0 %}
    {% for plugin_version in results %}
    <li class="card">
        <header class="with-nav">
            <h3>
                <a href="/plugins/view/{{ plugin_version.id }}">
                    {{ plugin_version.plugin.name }} v{{ plugin_version.major_version }}.{{ plugin_version.minor_version }}
                </a>
            </h3>
            {% if plugin_version.plugin in subscribed %}
            <p class="button-sized approved-info">Subscribed</p>
            {% else %}
            <form action="/feed/subscribe/{{ plugin_version.id }}" method="post">
                {% csrf_token %}
                <button type="submit">Subscribe</button>
            </form>
            {% endif %}
        </header>
        <p class="long-text">{{ plugin_version.plugin.description }}</p>
    </li>
    {% endfor %}
    {% else %}
    {% if searching %}
    <li class="empty-placeholder card">No search results</li>
    {% else %}
    <li class="empty-placeholder card">Enter a search term to find more plugins</li>
    {% endif %}
    {% endif %}
</ul>
<h2>Top Plugins</h2>
<ul class="card-list">
    {% for plugin_version in top_versions %}
    <li class="card">
        <header class="with-nav">
            <h3>
                <a href="/plugins/view/{{ plugin_version.id }}">
                    {{ plugin_version.plugin.name }} v{{ plugin_version.major_version }}.{{ plugin_version.minor_version }}
                </a>
            </h3>
            {% if plugin_version.plugin in subscribed %}
            <p class="button-sized approved-info">Subscribed</p>
            {% else %}
            <form action="/feed/subscribe/{{ plugin_version.id }}" method="post">
                {% csrf_token %}
                <button type="submit">Subscribe</button>
            </form>
            {% endif %}
        </header>
        <p class="long-text">{{ plugin_version.plugin.description }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
