$accent: #F09D51;
$dark: #313638;
$medium: #EDEDED;
$light: #F9F7F3;
$text-dark: #08090A;
$text-light: #DEE2E5;
$link: #3D65CC;
$link-visited: #6539BF;
$text-highlight: #6291A0;
$approved-color: #56E39F;
$error-color: #D85050;

$large-margin: 16px;
$medium-margin: 8px;
$small-margin: 4px;

$font-stack: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

body {
  font-family: $font-stack;
  background-color: $medium;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-dark;
}

h1:first-child {
  margin-top: 0;
}

h2:first-child {
  margin-top: 0;
}

h3:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2em;
  margin: $large-margin 0;
}

h2 {
  font-size: 1.5em;
  margin: $medium-margin 0;
}

h3 {
  font-size: 1.1em;
  margin: $small-margin 0;
}

p {
  margin: $large-margin 0;
}

p, div {
  color: $text-dark;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
}

ul {
  background-color: $light;
  border-radius: 2px;
  padding: 0;
  list-style: none;
  box-shadow: 0px 2px 8px 0px rgba($dark, 0.5);
}

li {
  padding: $large-margin;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin-top: -1px;
  border-color: rgba($dark, 0.1);

  > :last-child {
    margin-bottom: 0;
  }

  > :first-child {
    margin-top: 0;
  }
}

li:first-child {
  border-top: none;
}

li:last-child {
  border-bottom: none;
}

header:last-child {
  margin-bottom: 0;
}

button {
  font-size: 1em;
  color: $text-dark;
  border: none;
  background-color: $accent;
  transition: box-shadow 200ms ease-in-out;
  outline: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 2px 1px rgba($dark, 0.3);
}

button:focus {
  cursor: pointer;
  box-shadow: 0px 1px 2px 1px rgba($dark, 0.3) inset;
}

button:disabled {
  background-color: rgba($accent, 0.3);
  cursor: auto;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: $link;
}

a:visited {
  color: $link-visited;
}

::selection {
  color: $text-light;
  background: $text-highlight;
}

input[type="number"] {
  width: 50px;
  font-size: 1em;
}

label {
  font-size: 1em;
  margin: $small-margin $small-margin $small-margin $medium-margin;
}

input {
  margin: $small-margin $medium-margin $small-margin $small-margin;
}

textarea {
  margin: $small-margin $medium-margin $small-margin $small-margin;
  font-family: $font-stack;
}

.content {
  max-width: 800px;
  margin: auto;
  padding: $large-margin;
}

.with-nav {
  display: flex;
  flex-wrap: wrap;

  > :first-child {
    display: inline-block;
    margin-right: auto;
  }

  * {
    align-self: flex-start;
  }

  form {
    display: inline-block;
  }

  > :last-child {
    margin-right: 0;
  }

  > :first-child {
    margin-left: 0;
  }
}

.subtitle {
  display: inline-block;
  margin: 0 $medium-margin $medium-margin 0;
  white-space: nowrap;
  font-size: 0.9em;
}

.loader {
  border: 4px solid $medium;
  border-top: 4px solid $accent;
  border-bottom: 4px solid $accent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  animation: spin 1s linear infinite;
}

.start-hidden {
  display: none;
}

.button-sized {
  display: inline-block;
  padding: $small-margin $medium-margin;
  margin: 0 $small-margin;
  border-radius: 3px;
  white-space: nowrap;
  font-size: 1em;
}

button {
  @extend .button-sized;
}

.approved-info {
  background-color: lighten($approved-color, 20%);
  border: 2px solid $approved-color;
  padding: 2px 6px;
}

.error-info {
  background-color: lighten($error-color, 20%);
  border: 2px solid $error-color;
  padding: 2px 6px;
}

.nav {
  @extend .with-nav;

  background-color: $dark;
  padding: $large-margin;
  display: flex;
  box-shadow: 0px 2px 8px 0px rgba($dark, 0.5);

  h1, h2, h3 {
    color: $medium;
    margin-top: $medium-margin;
    margin-bottom: $medium-margin;
  }

  div {
    margin-top: auto;
    margin-bottom: auto;
  }

  p {
    color: $text-light;
    border: 2px solid $medium;
    margin-top: $medium-margin;
    margin-bottom: $medium-margin;
    padding: 2px 6px;
    transition: color 200ms, border-color 200ms;
  }

  a:hover {
    p {
      color: darken($medium, 30%);
      border-color: darken($medium, 30%);
    }
  }
}

.long-text {
  white-space: pre;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#modal {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10%;
  background-color: rgba($dark, 0.5);
}

#modal-content {
  border-radius: 2px;
  background-color: $light;
  display: inline-block;
  margin: auto;
  max-width: 70%;
  max-height: 70%;
  overflow: auto;
  padding: $medium-margin;
}
